footer
	img(src="src/img/metro.png")
	.footer_txt
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quae modi, consequuntur eos vel eligendi veritatis fugiat dignissimos tempore, sunt totam, facere. Eum rem quo quia ullam at fugiat commodi.