head
	title lesson5
	link(url='..styles/styles.css')
	link(href='https://fonts.googleapis.com/css?family=Monofett', rel='stylesheet')
	link(href='https://fonts.googleapis.com/css?family=Monofett', rel='stylesheet')