section
	img(src="src/img/makaka.jpg", alt="")
	.text
		.content_text
			h1 Ляльковий театр
			p.animation Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis numquam ipsam eligendi atque. Ducimus sunt hic doloribus cupiditate, suscipit blanditiis reprehenderit expedita sequi inventore modi placeat ratione, nam nisi quod.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, omnis error perferendis tempora quaerat reprehenderit dignissimos ab, praesentium quisquam incidunt sed repudiandae nesciunt libero sapiente veritatis consectetur ducimus quibusdam ipsam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nobis tempore omnis, mollitia magni, rerum ipsum similique assumenda quibusdam non amet, quisquam quidem possimus perspiciatis minima quam aliquid ipsa! Tempore?
		.footer_text
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates modi eligendi, mollitia explicabo, labore repudiandae? Neque quaerat assumenda perferendis et sapiente rerum fugiat, quasi accusantium nihil, eum maxime, quibusdam magnam.
	.table
		table
			tr
				td.vertical проект
				td.gorizont енеїда 
