section
	img(src="src/img/makaka.jpg", alt="")
	.text
		h1 Ляльковий театр
		p.content_text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis numquam ipsam eligendi atque. Ducimus sunt hic doloribus cupiditate, suscipit blanditiis reprehenderit expedita sequi inventore modi placeat ratione, nam nisi quod.
		.footer_text
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates modi eligendi, mollitia explicabo, labore repudiandae? Neque quaerat assumenda perferendis et sapiente rerum fugiat, quasi accusantium nihil, eum maxime, quibusdam magnam.
	.decoration
		p.text_decoration
			span проєкт 
			| енеіда 
