*
	margin 0
	padding 0
header
	overflow hidden
	padding-bottom 70px
.paragraf
	font-size: 350%
	margin-left 50px
	margin-top 50px
	float left
	border: 4px solid #af690c
	line-height 1
	font-family Open Sans Condensed, sans-serif
	letter-spacing 0.15em
	color #af690c
.ear
	margin-top 100px
	float right
	transform rotate(-90deg)
	writing-mode tl-rb
	font-size 150px
	font-family Raleway, sans-serif
	font-weight bold
	color #af690c
section img
	margin-left 50px
	float left
	border-radius 4px
section img:hover
	transform scaleX(-1)
.text
	overflow hidden	
.content_text
	float right
	margin 30px
	padding-right 50px
	h1
		padding-bottom 20px
 @keyframes animation {
    0%, 100% {opacity: 1;} 
    50% {opacity: 0;}
   }
.animation
	animation-name animation
	animation-delay 3s
	animation-duration 6s
.footer_text
	float right
	margin 30px
	padding-top 50px
	padding-right 50px
	font-size 8px
.table
	border 1px solid black
	float left
	margin 30px
table td 
	border 1px solid black
